/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import "izitoast/dist/css/iziToast.min.css";


.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 30px;
  height: 40px;
}

.search-intup {
  width: 272px;
  border: #808080 solid 1px;
  border-radius: 4%;
  padding: 16px;
}

.btn-submit {
  border: #808080;
  border-radius: 8%;
  padding: 16px;
  background-color: #4E75FF;
  color: #FFFF;
}

.search-intup:hover {
  border: #000000 solid 1px;
}

.btn-submit:hover {
  background-color: #6C8CFF;
}

.js-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}


.js-list-link {
  margin-bottom: 24px;
}

.js-list-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}


.js-list-item {
  width: 360px;
  border: #808080 solid 1px;
}

.js-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  text-align: center;
  color: #2E2F42;
}

.js-info-item {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.loader {
  left: 45%;
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #FF3D00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
}